VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a97c57e00324227cddc
VITE_APPWRITE_DATABASE_ID=catalogue
VITE_APPWRITE_PRODUCTS_COLLECTION_ID=products
VITE_APPWRITE_BUCKET_ID=product-images
