VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a97c57e00324227cddc
VITE_APPWRITE_DATABASE_ID=catalogue
VITE_APPWRITE_PRODUCTS_COLLECTION_ID=products
VITE_APPWRITE_BUCKET_ID=product-images

ADMIN_USERNAME=ajnas@alsaqiya.ae
ADMIN_PASSWORD=ajnas@544
ADMIN_SESSION_SECRET=alsaqiya-admin-session-k8m2p9q4w7x1z5n3